In [ ]:
import pandas as pd

#1. A,B,and C

#Loading the dataset into a data frame variable called dataFrame
dataFrame = pd.read_csv('uber.csv')
#Testing if it is well loaded
print(dataFrame.head())
#Checking the column names and data types
print(dataFrame.dtypes)
#Checking the rows and columns
print(dataFrame.shape)
#Checking how many null cells there are
print(dataFrame.isnull().sum())
#Checking how many duplicates there are
print(dataFrame.duplicated().sum())
#Checking the statistical standpoint of the dataset
print(dataFrame.describe())

0

In [ ]:
#1.D & E

"""
I found 0 duplicats but only have 2 missing values in 2 columns(dropoff longitude & latitude) from a 200,000 data pull. 
I think it makes more sense to just delete the missing values, because losing 2 rows can not affect much.
"""
dataFrame.dropna(inplace=True)
#Checking if the 2 missing columns where deleted successfully
print(dataFrame.isna().sum())
#Checking fo r

"""
Checking the columns I noticed that dates don't have the right data type. To fix that I am going to change the pickup date
columns' datatypes to Pandas datatype: to_datetime
"""
dataFrame['pickup_datetime'] = pd.to_datetime(dataFrame['pickup_datetime'])

"""
In the first question when I run the statistical standpoint of the uber dataset: 
1.I notice the minimum fare is negative, to my thinking this is wrong because money can not be negative. 
2.I notice that the passenger count's minimum is 0 which doesn't make sense because atleast 1 person is
required to hail the uber.

Conclusion: I fixed this by using the boolean mask to filter those odd values out.
"""

dataFrame = dataFrame[(dataFrame['fare_amount'] > 0) & (dataFrame['passenger_count'] >= 1)]
#Checking if the minimum values have changed for both columns to reasonable values
print(dataFrame.describe())
#Exporting the cleaned dataset into a new CSV file.
dataFrame.to_csv('clean_uber.csv', index=False)

Unnamed: 0           0
key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64
         Unnamed: 0    fare_amount  pickup_longitude  pickup_latitude  \
count  1.992690e+05  199269.000000     199269.000000    199269.000000
mean   2.771565e+07      11.369419        -72.530120        39.937186
std    1.601415e+07       9.905852         11.434205         7.723661
min    1.000000e+00       0.010000      -1340.648410       -74.015515
25%    1.382629e+07       6.000000        -73.992065        40.734796
50%    2.775601e+07       8.500000        -73.981825        40.752584
75%    4.155969e+07      12.500000        -73.967160        40.767157
max    5.542357e+07     499.000000         57.418457      1644.421482

       dropoff_longitude  dropoff_latitude  passenger_count
count      199269.000000     199269.000000    199269.000000
mean          -72.528149         39.925354         1.690474
std            13.119015          6.794146         1.384784
min         -3356.666300       -881.985513         1.000000
25%           -73.991410         40.733828         1.000000
50%           -73.980095         40.753042         1.000000
75%           -73.963664         40.767995         2.000000
max          1153.572603        872.697628       208.000000

In [37]:
"""
After using the describe() method I already found the mean, standard deviation, quartiles, and median.
I am missing the mode so I will calculate it individually for all columns
"""
print(dataFrame['Unnamed: 0'].mode())
print(dataFrame['dropoff_latitude'].mode())
print(dataFrame['dropoff_longitude'].mode())
print(dataFrame['fare_amount'].mode())
print(dataFrame['key'].mode())
print(dataFrame['passenger_count'].mode())
print(dataFrame['pickup_datetime'].mode())
print(dataFrame['pickup_latitude'].mode())
print(dataFrame['pickup_longitude'].mode())

0                1
1               45
2               48
3              243
4              335
            ...
199264    55421687
199265    55421949
199266    55422851
199267    55422902
199268    55423567
Name: Unnamed: 0, Length: 199269, dtype: int64
0    0.0
Name: dropoff_latitude, dtype: float64
0    0.0
Name: dropoff_longitude, dtype: float64
0    6.5
Name: fare_amount, dtype: float64
0         2009-01-01 01:15:22.0000006
1         2009-01-01 01:59:17.0000001
2         2009-01-01 02:05:03.0000003
3         2009-01-01 02:09:13.0000003
4         2009-01-01 02:13:41.0000001
                     ...
199264    2015-06-30 22:57:53.0000005
199265    2015-06-30 23:16:42.0000002
199266    2015-06-30 23:31:06.0000002
199267    2015-06-30 23:33:33.0000002
199268    2015-06-30 23:40:39.0000001
Name: key, Length: 199269, dtype: object
0    1
Name: passenger_count, dtype: int64
0   2009-02-12 12:46:00+00:00
1   2010-03-14 12:00:00+00:00
2   2014-04-13 18:19:00+00:00
Name: pickup_datetime, dtype: datetime64[ns, UTC]
0    0.0
Name: pickup_latitude, dtype: float64
0    0.0
Name: pickup_longitude, dtype: float64